<!DOCTYPE html>
<html>
<head>
  <title>Canvas</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>

  <script src="angular.min.js"></script>
  <script type="text/javascript" src="custom.js"></script>
  <style type="text/css">
    .dragdrop {
        background:#ddd;
        padding: 5px;
    } 
    li {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
        margin-bottom: 25px;
    }
    li a {
        margin-top: 10px;
    }
    li:last-child {
        margin-right: 0;
    }
    img {
        max-width: 100%;
    }
  </style>
</head>
<body ng-app="myApp">
  <div ng-controller="sampleAppCtrl">
    <!-- side pane -->
    <div class="sidepane col-sm-4 col-md-4 col-lg-4">
      <div class="form">
        <h3>Form</h3>
          <input type="file" file-model="myFile" class="form-control" placeholder="Upload Your Images" name="upload">
          <button id="submit" class="btn btn-default" ng-click="uploadFile()">upload</button>
        <!-- Upload Form here -->
      </div>
      <hr />
      <div class="">
        <h3>Assets</h3>
        <div class="text">
            <h4>Text</h4>
            <button id="addText" class="btn btn-default">Add Text</button>
        </div>
        <div class="image">
            <h4>Images</h4>
            <ul class="list-unstyled clearfix text-center">
                <!-- List of images here -->
                <li ng-repeat="imgSrc in imageList track by $index"><img src="{{imgSrc}}" class="img-rounded" /><a class="btn btn-primary" ng-click="saveToCanvas(imgSrc)">Save to canvas</a></li>
            </ul>
        </div>
      </div>
    </div>
    <!-- canvas -->
    <div class="canvas col-sm-8 col-md-8 col-lg-8">
        <div class="block">
            <!-- Add images and texts to here -->
            <div>
              <ul class="text-center">
                <li ng-repeat="canvasImg in canvasImgList track by $index" class="dragdrop">
                    <img src="{{canvasImg}}">
                    <a class="btn btn-danger" ng-click="removeFromCanvas($index);">Remove</a>
                </li>
              </ul>
            </div>
        </div>
    </div>
    

  </div>


</body>
</html>